.loginForm{
    .v-card{
        // height: 80vh;
        width: 100vh;
        max-width:750;
        width:100%;
        text-align: center;
        margin-top: 0;

        .container{
            padding: 6% 10%;
        }
        .v-row{
            padding: 5% 10%;
            align-items: center;
            justify-content: center;
            .logo{
                align-items: center;
                display: flex;
                gap: 10px;
                flex-direction: column;
                height:100%;
                justify-content: center;
                margin: auto;
                max-width:250px;
                width:100%;
            }   
            .form{
                .botones{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    
}


// class="mx-auto"
//             max-width="250"
//             height="100%"
//             width="100%"


//class="fill-height px-4 py-16"

// class="py-15"
// align="center"
// justify="center"