.modForm{
    // padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    .v-row{
        gap: 1rem;
        justify-content: center;
    }
    .cardCrear{
        height: 450px;
        width: 400px;
        padding: 2%;
        .button{
            height: 14px;
            color: white;
        }
    }
    .cardBuscar{
        height: 450px;
        width: 400px;
        padding: 2%;
        .button{
            height: 14px;
            color: white;
            padding: 0;
        }
    }
    .cardEliminar{
        height: 450px;
        padding: 2%;
        width: 400px;
        .button{
            height: 14px;
            color: white;
            border-radius: 50;
        }
    }
}