.pasajesPage{
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    .v-row{
        gap: 1rem;
    }
    .card{
        height: 100%;
        width: 400px;
        border: 2px solid red;
    }
}