#register{
    background-color: green;
    height: 100%;
    .registerForm{
        height: 80vh;
        width: 100vh;
        max-width:750;
        width:100%;
        text-align: center;
        margin-top: 0;
        background-color: blue;
        .register-container{
            // background-color: red;
            flex-direction: row;
            height: 100%;
            // width: 100% !important;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            .v-row{
                align-items: center;
                justify-content: center;
                height: 100%;
                // width: 100vh;
                // margin-left: 10%;
                gap: 10rem;
                .form{
                    margin-top: 5%;
                }
                .contenedor--logo{
                    align-items: center;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    height:100%;
                    justify-content: center;
                    margin: auto;
                    max-width:250px;
                    width:100%;
                }
            }
        }
        .card1{
            padding-top: 10px;
            height: 100%;
            width: 100%;
        }
    }
    
}

// max-width="200"
// width="100%"

// max-width="150"
// width="100%"